let mapleader=' '
set clipboard=unnamed
set showmode
set ignorecase smartcase

noremap <leader>o <ESC>:action ShowFilePath<CR>
noremap g/ <ESC>:action FindInPath<CR>

set visualbell
set noerrorbells
set guicursor+=n-v-c:blinkon0
